---

---
<footer class="bg-black space-y-10 pt-20 lg:grid lg:grid-cols-4 lg:gap-8 lg:space-y-0">
  <h1 class=" pl-4 text-Orbitron text-white neon-glow text-3xl">SciFi'stival</h1>

  <nav class="text-white px-5 columns-1 gap-8 space-y-8 text-sm lg:text-base lg:columns-2 lg:col-span-2 lg:px-0 *:break-inside-avoid *:space-y-3">
    <div>
      <h4 class="uppercase">Menu</h4>
      <ul class="text-white">
        <li><a href="/programmation">Programmation</a></li>
        <li><a href="/invites">Invités</a></li>
        <li><a href="/lieu">Lieu</a></li>
        <li><a href="/about">À Propos</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="space-y-2">
      <h4 class="uppercase">Contact</h4>
      <ul class="text-white">
        <li>Maison de quartier Oikos</li>
        <li>22, avenue de Capitaine-de-la-Laurencie</li>
        <li>90000 Belfort</li>
        <li>03 XX XX XX XX</li>
        <li>scifistival@xxxxx.xx</li>
      </ul>
    </div>

  </nav>
  <div
    class="px-5 text-gray-400 border-t border-gray-300 py-8 space-y-6 text-center lg:col-span-4 lg:flex lg:justify-around lg:items-center lg:space-y-0"
  >
    <p>©2025 Sci'Fistival</p>
    
  </div>
</footer>